body {
	font-family: "Roboto";
	font-family: monospace;
	text-align: justify;
	background-color: #373636;
	color:whitesmoke;
	font-size: 1.15em;
}
h1 {
	width: 55%;
	margin-left: 45%;
}
h2 {
	width: 55%;
	margin-left: 45%;
}
h3 {
	width: 55%;
	margin-left: 45%;
}
h4 {
	width: 55%;
	margin-left: 45%;
}
ul {
	width: 55%;
	display: block;
	margin-left: 40%;
}
ol {
	width: 55%;
	display: block;
	margin-left: 40%;
}
li {
	margin-top: 1%;
	margin-left: 20%;
}
p {
	max-width: 55%;
  margin-left: 35%;
}
#homepage > p:nth-child(2){
	margin-left: 45%;
}

img {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 25%;
	display: inline;
}

.inline {
	display: inline;
}

.link-button:focus {
	outline: none;
}

.link-button:active {
	color:red;
}

iframe {
  margin-left: 40%;
}

code {
  font-family: monospace;
  border-radius: 5%;
  padding: 1%;
  border-color: darkgray;
  border-style: dotted;
  font-size: 1.0em;
}

a {
    color: #C6D9FE;
    padding: 1%;
}

ul li {
    color: #C6D9FE;
}

iframe {
    background: aliceblue;
    border-radius: 15%;
}