clientApp.1.main=net.i2p.util.ShellCommand
clientApp.1.name=snowflake
clientApp.1.args=$PLUGIN/lib/karen -exeperm "0755" -exe $PLUGIN/lib/snowflake -args "-log $PLUGIN/lib/snowflake.log" -exedir $PLUGIN/lib/ -instruct start
clientApp.1.stopargs=$PLUGIN/lib/karen -exe snowflake -exedir $PLUGIN/lib/ -instruct stop
clientApp.1.delay=1
clientApp.1.startOnLoad=true

clientApp.0.main=net.i2p.util.ShellCommand
clientApp.0.name=karen
clientApp.0.args=chmod +x $PLUGIN/lib/karen
clientApp.0.delay=0
clientApp.0.startOnLoad=true